---
layout: default
title: Montecruiseto
permalink: /
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
    <svg class=amsf-logo width="955" height="955" viewBox="0 0 955 955" xmlns="http://www.w3.org/2000/svg"><title>Montecruiseto</title><g stroke="#FF00B4" fill="none"><circle cx="478" cy="478" r="439"/><path d="M837 710L119 244M119 709l718-466M142.5 709H815M142.5 244H815"/></g></svg>
    <h1 class=amsf-title>
      Montecruiseto
    </h1>

    <small>I design and code for the front-end. I'm currently based in Bangkok, Thailand</small>
  </header>

  {% for post in site.categories.note %}
    {% include page-item.html %}
  {% endfor %}
</article>
